body {
  /* background: #b2ddad;
  background-image: url('/src/images/endless-layered.png'); */
  background-image: url('/public/images/endless-layered.png'), linear-gradient(#b2ddad, #74bce5);
  /* background-image: url(foo.jpg) center center no-repeat;  */
  background-position:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* height:700px; */
  height: 100vh;
  font-family: 'Work Sans';
  font-weight: 400;
  background-attachment: fixed;
  padding-top: 90px;
  /* padding-bottom: 90px; */
}

.App {
  text-align: center;
  font-family: 'Work Sans';
  background-color: #888888;
  color: #404C55;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
